--extra-index-url https://download.pytorch.org/whl/cu118

annotated-types==0.7.0 ; python_version == "3.10"
antlr4-python3-runtime==4.9.3 ; python_version == "3.10"
asttokens==2.4.1 ; python_version == "3.10"
certifi==2024.8.30 ; python_version == "3.10"
charset-normalizer==3.3.2 ; python_version == "3.10"
colorama==0.4.6 ; python_version == "3.10"
cuda-python==11.8.0 ; python_version == "3.10"
cython==3.0.11 ; python_version == "3.10"
dgl @ file:///scratch4/jgray21/amontan6/software/RFantibody/include/dgl/dgl-2.4.0+cu118-cp310-cp310-manylinux1_x86_64.whl ; python_version == "3.10"
e3nn==0.5.1 ; python_version == "3.10"
executing==2.1.0 ; python_version == "3.10"
filelock==3.16.1 ; python_version == "3.10"
fsspec==2024.9.0 ; python_version == "3.10"
hydra-core==1.3.2 ; python_version == "3.10"
icecream==2.1.3 ; python_version == "3.10"
idna==3.10 ; python_version == "3.10"
intel-openmp==2021.4.0 ; platform_system == "Windows" and python_version == "3.10"
jinja2==3.1.4 ; python_version == "3.10"
markupsafe==2.1.5 ; python_version == "3.10"
mkl==2021.4.0 ; platform_system == "Windows" and python_version == "3.10"
mpmath==1.3.0 ; python_version == "3.10"
networkx==3.2.1 ; python_version == "3.10"
numpy==1.26.4 ; python_version == "3.10"
nvidia-cublas-cu11==11.11.3.6 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cuda-cupti-cu11==11.8.87 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cuda-nvrtc-cu11==11.8.89 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cuda-runtime-cu11==11.8.89 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cudnn-cu11==8.7.0.84 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cufft-cu11==10.9.0.58 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-curand-cu11==10.3.0.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cusolver-cu11==11.4.1.48 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-cusparse-cu11==11.7.5.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-nccl-cu11==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
nvidia-nvtx-cu11==11.8.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
omegaconf==2.3.0 ; python_version == "3.10"
opt-einsum-fx==0.1.4 ; python_version == "3.10"
opt-einsum==3.4.0 ; python_version == "3.10"
packaging==24.1 ; python_version == "3.10"
pandas==2.2.3 ; python_version == "3.10"
pillow==10.4.0 ; python_version == "3.10"
psutil==6.0.0 ; python_version == "3.10"
pydantic-core==2.23.4 ; python_version == "3.10"
pydantic==2.9.2 ; python_version == "3.10"
pygments==2.18.0 ; python_version == "3.10"
pyrsistent==0.20.0 ; python_version == "3.10"
python-dateutil==2.9.0.post0 ; python_version == "3.10"
pytz==2024.2 ; python_version == "3.10"
pyyaml==6.0.2 ; python_version == "3.10"
requests==2.32.3 ; python_version == "3.10"
scipy==1.13.1 ; python_version == "3.10"
six==1.16.0 ; python_version == "3.10"
sympy==1.13.3 ; python_version == "3.10"
tbb==2021.13.1 ; platform_system == "Windows" and python_version == "3.10"
torch-utils==0.1.2 ; python_version == "3.10"
torch==2.3.1+cu118 ; python_version == "3.10"
torchaudio==2.3.1 ; python_version == "3.10"
torchvision==0.18.1 ; python_version == "3.10"
tqdm==4.66.5 ; python_version == "3.10"
triton==2.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.10"
typing-extensions==4.12.2 ; python_version == "3.10"
tzdata==2024.2 ; python_version == "3.10"
urllib3==2.2.3 ; python_version == "3.10"
